<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
	<form action="/menu" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label for="exampleInputFile">楽天証券の配当金・分配金一覧csvファイルを選択してください</label>
			<input type="file" name="csv_file" accept=".csv">
			<p class="help-block">例）dividendlist_20210111.csv</p>
		</div>
		<button class="btn btn-default" type="submit">アップロード</button>
	</form>
	<br>
	<a href="/sample">サンプルをみる</a>
</body>
</html>
