<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'lineGraph')}">

<body>
	<h1>線グラフ</h1>
	USD/JPY 100 で計算しています。
	<br>
	<div class="chart-container">
	<canvas id="lineChart"></canvas>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js"></script>

	<script>
		var ctx = document.getElementById("lineChart");
		var myLineChart = new Chart(ctx, {
			type : 'line',
			data : {
				labels : [ '2019年1月', '2月', '3月', '4月', '5月',
					'6月', '7月', '8月', '9月', '10月', '11月', '12月',
					'2020年1月', '2月', '3月', '4月', '5月', '6月'
					, '7月', '8月', '9月', '10月', '11月', '12月'
					, '2021年1月'],
				datasets : [ {
					label : '累計配当受取額(円）',
					data : [ [[${deta}]] ],
					borderColor : "rgba(0,0,255,1)",
					backgroundColor : "rgba(0,0,0,0)"
				} ],
			},
			options : {
				title : {
					display : true,
					text : '配当推移（2019年1月~2021年1月）'
				},
				scales : {
					yAxes : [ {
						ticks : {
							suggestedMax : 40,
							suggestedMin : 0,
							stepSize : 10,
							callback : function(value, index, values) {
								return value + '円'
							}
						}
					} ]
				},
				maintainAspectRatio: false,
			}
		});
	</script>
</body>
</html>
