<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'menu')}">

<body>
	<h1>メニュー</h1>
	<br>
	<div class="menu-img">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<a href="/lineGraph">
						<img src="/img/lineGraph.jpg" alt="線グラフ">
					</a>
					<a href="/pieGraph">
						<img src="/img/pieGraph.jpg" alt="円グラフ">
					</a>
				</div>
				<div class="col-sm-6">
					<a href="/barGraph">
						<img src="/img/barGraph.jpg" alt="棒グラフ">
					</a>
					<a href="/table">
						<img src="/img/table.png" alt="一覧表">
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
